asgiref==3.12.1
attrs==26.1.0
click==8.4.2
colorama==0.4.6
cssbeautifier==2.0.3
Django==6.0.7
django-filter==26.1
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
djlint==1.43.2
drf-spectacular==0.30.0
EditorConfig==0.17.1
inflection==0.5.1
jsbeautifier==2.0.3
json5==0.15.0
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
pathspec==1.1.1
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
PyJWT==2.14.0
python-dotenv==1.2.3
PyYAML==6.0.3
referencing==0.37.0
regex==2026.7.19
rpds-py==2026.6.3
ruff==0.16.1
sqlparse==0.5.5
tzdata==2026.3
uritemplate==4.2.0
